name: Build PDF from LaTeX Document

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build-latex:
    runs-on: ubuntu-latest
    container:
      image: texlive/texlive:latest
    permissions:
      contents: write

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Configure Git
      run: |
        git config --global --add safe.directory "$GITHUB_WORKSPACE"
        git config --global user.name "GitHub Actions"
        git config --global user.email "actions@github.com"

    - name: Make script executable
      run: chmod +x scripts/tex2pdf

    - name: rebuild PDF and check in if successful 
      run: ./scripts/tex2pdf --github

    - name: Push changes
      run: git push || echo "No changes to push"
